{% set icon = 'close' %}
{% set message = __('Login', 'lemon-woo') %}
{% if user %}
    {% set icon = 'checkmark' %}
    {% set message = user.meta('first_name') %}
    {% set login_icon_class = 'success' %}
{% endif %}

<ul class="header-cart nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ pages.woocommerce.myaccount }}">
            <span class="header-cart__iconholder">
                <i class="wp-lemon-icon-person-outline large" aria-hidden="true"></i>
                <span class="header-cart__circle {{ login_icon_class }}">
                    <i class="wp-lemon-icon-{{ icon }}"></i>
                </span>
            </span>

            <span class="d-none d-md-inline">{{ message }}</span>
        </a>
    </li>
    {% if fn('is_cart') or fn('is_checkout') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ fn('wc_get_cart_url') }}" id="js-cart-link">
                {% include 'components/cart-counter.twig' %}
            </a>
        </li>
    {% else %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                data-count="{{ woocommerce.cart.count }}"
                aria-haspopup="true"
                id="js-cart-link"
                aria-expanded="false">
                {% include 'components/cart-counter.twig' %}
            </a>
            <div class="dropdown-menu">
                <div class="lemon-cart">{{ fn('the_widget', 'WC_Widget_Cart') }}</div>
            </div>
        </li>
    {% endif %}
</ul>
