{# In not used by WooCommerce, this file is rendered as a div #}
{% import 'macros/media.twig' as media %}
{% set breakpoint_lg = product.get_loop_columns == 3 ? '4' : '3' %}

{# Set the holder classes #}
{% set holder_classes = ['card-holder', 'card-holder--product', 'col-12', 'col-sm-6', 'col-lg-' ~ breakpoint_lg] %}

{# Set additional holder classes and merge them #}
{% if extra_holder_classes %}
	{% set holder_classes = holder_classes|merge(extra_holder_classes) %}
{% endif %}

{# Allow to filter the holder classes #}
{% set holder_classes = holder_classes|apply_filters('wp-lemon/plugin/lemon-woo/filter/cards/product/holder-classes') %}

{{ is_woo ? '<li class="' ~ (holder_classes|join(' ')) ~ ('">'|raw) : '<div class="' ~ (holder_classes|join(' ')) ~ ('">'|raw) }}
<div {{ fn('wc_product_class', 'crd crd--product ' ~ additional_class, post) }}>
	<a class="crd__picture-link" href="{{ product.link }}">
		{% set args = {
			picture_class: 'crd__picture crd__picture--square',
			image_size: 'large',
			image_sizes: product.get_image_sizes,
			focalpoint: false
		} %}
		{% set args = args|apply_filters('wp-lemon/filter/card/product/picture-args', image_id) %}
		{{ media.picture(product.image_id, args) }}
	</a>
	<div class="crd__content" href="{{ product.link }}">
		<div class="crd__inner">
			<div class="crd__header">
				<h3 class="crd__title">{{ product.title }}</h3>
			</div>
			{% do action('woocommerce_after_shop_loop_item_title') %}
		</div>
	</div>
	<div class="crd__footer">
		{{ fn('woocommerce_template_loop_add_to_cart') }}
	</div>
</div>
{{ is_woo ? '</li>'|raw : '</div>'|raw }}
