{% extends 'layouts/app.twig' %}
{% block content %}
    <div class="entry">
        {% do action('woocommerce_before_main_content') %}
        <header class="woocommerce-products-header">
            <h1 class="woocommerce-products-header__title page-title">
                {{ fn('woocommerce_page_title') }}
            </h1>
        </header>
        {% if fn('woocommerce_product_loop') %}
            <div class="before-shop-loop clearfix">
                {% do action('woocommerce_before_shop_loop') %}
                <div class="page-description">{{ post.content }}</div>
            </div>
            {{ fn('woocommerce_product_loop_start') }}
            {% if fn('wc_get_loop_prop', 'total') %}
                {% for product in products %}
                    {{ fn('the_post') }}
                    {% do action('woocommerce_shop_loop') %}
                    {{ fn('wc_get_template_part', 'content', 'product') }}
                {% endfor %}
            {% endif %}
            {{ fn('woocommerce_product_loop_end') }}

            {% do action('woocommerce_after_shop_loop') %}
        {% else %}
            {% do action('woocommerce_no_products_found') %}
        {% endif %}
        {% do action('woocommerce_after_main_content') %}
    </div>
{% endblock %}
